<!DOCTYPE html>
<html>
<head><title>javaScript Tutorials</title>
<link rel="icon" type="image/png" href="./picture/learn-javascript.png">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
<h3 id="title"></h3>
<input type="text" ng-model="myFirstName" placeholder="First Name">
<input type="text" ng-model="myLastName" placeholder="Last Name">
<input type="number" ng-model="myAge" min="1" max="120">
<input type="text" ng-model="mySpouseName" placeholder="Wife First Name">
<p>Name : {{myFirstName+" "+myLastName}}</p>
<p>Age : {{myAge}}</p>
<p>Wife : {{mySpouseName+" "+myLastName}}</p>
<p>Mr. & Mrs. {{ fullName() }}</p>
</div>
<script type="text/javascript">
document.getElementById("title").innerHTML="javaScript Tutorials";
var newCtrl = angular.module('myApp',[]);
newCtrl.controller('myCtrl',function($scope){
	$scope.myFirstName="";
	$scope.myLastName="";
	$scope.myAge="";
	$scope.mySpouseName="";
	/*Controller with methods*/
	$scope.fullName = function(){
		return $scope.myFirstName +" "+ $scope.myLastName;
	};
});
</script>
</body>
</html>